// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.

// Here's where we define some default constants
@import "partials/constants";

// Then we'll import the compass extension
@import "partials/html5-boilerplate";

// Now, you can simply include everything
// (except media) by uncommeting this line
@include html5-boilerplate;

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
@import "partials/overrides";
@import "partials/buttons";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/shared";
@import "partials/forms";
@import "partials/simple_form";
@import "partials/layout";

// Include your app partials and stylesheets here
// !!! Right here !!!

// Media should come last
@import "media";
