  <%= heading_with_title("Home#index") %>

  <% content_for :sidebar do %>
    <%= heading "Sidebar" %>
    <p>Content for sidebar.</p>
    <p>This content displayed only at home page.</p>
  <% end %>

<p>Find me in app/views/home/index.html.erb</p>
