.article {
/* Hyperlinks */

    /* Outgoing links */
    a[href^=http] {
        background: url(./icons/outgoing.png) no-repeat right center;
        padding-right: 13px;
    }

    /* Email links */
    a[href^=mailto] {
        
    }

    /* Direct links to files */
    a[href$=pdf], content a.pdf {  }
    a[href$=zip], content a.zip {  }
    a[href$=rar], content a.rar {  }
    a[href$=tar], content a.tar {  }
    a[href$=mp3], content a.mp3 {  }

    /* Protocols */
    a[href^=skype], content a.skype {  }
    a[href^=aim], content a.aim {  }

    /* Lists */
    ol,
    ul,
    dl {
        padding: 0;
        margin: 0 0 18px 30px;
    }

    ul { list-style: square; }
    ol { list-style: decimal; }

    dl {}
    dt {}
    dd { margin: 0 0 0 30px; }

    /* Tables */
    table {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        width: 100%;
        margin: 0 0 18px 0;
    }

    caption { font-style: italic; padding: 3px; }
    th, td { padding: 3px; }
    th { background: #eee; }
    td { border-bottom: 1px solid #ddd; }
}
