form {
    label {
        font-weight: normal;
        display: block;

        input[type=radio] {
            margin: 0 3px 4px 3px;
        }
    }

    label.boolean { display: inline; }
    h3 { margin: 20px 0 10px 0; }

    div.input {
        margin: 0 0 7px 0;
    }

    // Fields
    input[type=text],
    input[type=password],
    input[type=search],
    input[type=email],
    input[type=tel],
    input[type=number],
    textarea, select {
        font-size: 140%;
        font-weight: bold;
        width: 100%;
        padding: 4px 9px;
        border: 1px solid #a5a5a5;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #fff asset-url("input-bg.gif", image);
        @include border-radius(4px);
        @include single-box-shadow(#bbb, 1px, 1px, 3px, 0px, true);
	    @include box-sizing(border-box);
    }

    input[type=text]:focus,
    input[type=password]:focus,
    input[type=search]:focus,
    input[type=email]:focus,
    input[type=tel]:focus,
    input[type=number]:focus,
    textarea:focus,
    select:focus {
        background: lightgoldenrodyellow !important;
        border: 1px solid #a5a5a5 !important;
        border-right: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;
    }

    textarea {
        font-weight: normal;
        font-size: 100%;
        padding: 5px;
        resize: vertical;
    }

    // Buttons
    input[type=submit],
    input[type=button],
    button {
      @include clean-gray;
    }
}
