<!DOCTYPE html>
<%%= ie_html :class => 'no-js', :lang => :en do %>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%%= csrf_meta_tag %>

    <title><%%= page_title "Default title" %></title>
    <meta name="description" content="<%%= yield :description %>">
    <meta name="author" content="<%%= yield :author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">
    <%%= raw include_stylesheets :default, :media => 'all' %>
    <style><%%= yield :styles %></style>

    <%%= raw include_javascripts :modernizr %>
  </head>
  <body>

    <div id="container">
      <header>
	<h1><%%= link_to 'Welcome abroad!', root_path %></h1>
      </header>

      <div id="main">

	<%% flash.each do |name, msg| %>
	  <%%= content_tag :div, msg, :id => "flash_#{name}" %>
	<%% end %>

	<article class="article">
	  <%%= yield %>
	</article>

	<aside>
	  <%% yield :sidebar %>
	</aside>

      </div>

      <footer></footer>
    </div>


  <%%= raw include_javascripts :default %>
  <script><%%= yield :javascripts %></script>

  <!--[if lt IE 7 ]>
    <%%= raw include_javascripts :bb_delated_png %>
    <script>DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->

  </body>
<%% end %>
