<!DOCTYPE html>
<%%= ie_html :class => 'no-js', :lang => :en do %>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%%= csrf_meta_tag %>

    <title><%%= page_title "Default title" %></title>
    <meta name="description" content="<%%= yield :description %>">
    <meta name="author" content="<%%= yield :author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">
    
    <%%= stylesheet_link_tag "application" %>
    <%%= javascript_include_tag "application" %>
  </head>
  <body id="<%%= page_id %>">
    <%%= flash_messages %>
    
    <div id="main-wrapper">
      <header>
	    <h1><%%= link_to_unless_current 'Welcome aboard!', root_path %></h1>
        <div id="user-info">
          <ul>
            <%% if user_signed_in? %>
              <li>
                Hello, Dear <strong><%%= current_user.username %></strong>!
                Maybe, you want to <%%= link_to 'logout', destroy_user_session_path %>?
              </li>
            <%% else %>
              <li>
                Hello Guest, maybe you want to <%%= link_to 'Join us', new_user_registration_path %> or <%%= link_to 'login', new_user_session_path %>?
              </li>
            <%% end %>
          </ul>
        </div>
      </header>

      <div id="body">

        <section id="content">
          <%%= yield %>
        </section>

	    <aside>
	      <%%= content_for?(:sidebar) ? yield(:sidebar) : render("shared/sidebar") %>
	    </aside>

      </div>
    </div>

    <footer>
      <p>
        This application was generated with <%%= link_to 'Playmo', 'http://github.com/tanraya/playmo' %> gem
      </p>
    </footer>
  </body>
<%% end %>
