@charset "utf-8";
/*===============================================================================================

    Title   : Playmo CSS Framework (https://github.com/tanraya/playmo)
    Name    : content.css

    Default styles for content zone.
    Content zone is a container with the assigned class ".article"

    Do not define styles for site content zone here! If you want to define some styles
    for site content zone, add it in screen.css stylesheet.

    ATTENTION! DO NOT ADD YOUR CUSTOM STYLES INTO THIS FILE!

===============================================================================================*/

/* Hyperlinks */

    /* Outgoing links */
    .article a[href^=http] {
        background: url(./icons/outgoing.png) no-repeat right center;
        padding-right: 13px;
    }

    /* Email links */
    .article a[href^=mailto] {
        
    }

    /* Direct links to files */
    .article a[href$=pdf], content a.pdf {  }
    .article a[href$=zip], content a.zip {  }
    .article a[href$=rar], content a.rar {  }
    .article a[href$=7z],  content a._7z {  }
    .article a[href$=tar], content a.tar {  }
    .article a[href$=tar.gz], content a.targz {  }
    .article a[href$=mp3], content a.mp3 {  }

    /* Protocols */
    .article a[href^=skype], content a.skype {  }
    .article a[href^=aim], content a.aim {  }

/* Headers */
.article h1 { font-size: 2em; }   /* 100% */
.article h2 { font-size: 1.7em; } /* -0.3 */
.article h3 { font-size: 1.5em; } /* -0.6 */
.article h4 { font-size: 1.1em; } /* -0.9 */
.article h5 { font-size: 1em; }   /* -1   */
.article h6 { font-size: 0.8em; } /* -1.2 */

/* Lists */
.article ol,
.article ul,
.article dl {
    padding: 0;
    margin: 0 0 18px 30px;
}

.article ul { list-style: square; }
.article ol { list-style: decimal; }

.article dl {}
.article dt {}
.article dd { margin: 0 0 0 30px; }

/* Tables */
.article table {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
    margin: 0 0 18px 0;
}

.article caption { font-style: italic; padding: 3px; }
.article th, .article td { padding: 3px; }
.article th { background: #eee; }
.article td { border-bottom: 1px solid #ddd; }

